<div class="main-img-container">
  <img src="..\assets\images\main.jpg" />
</div>
<div class="get-quote-container">
  <p class="pp-sol">Professional, Personal Solutions</p>
  <p class="byi-life">Bring your ideas to life!</p>
  <button class="get-quote-btn" [routerLink]="['/contact']">--- Get Quote ---</button>
</div>
<div class="about-us">
  <div class="tile">
    
    <div class="img-wrap">
      <p class="cycle-title"><span>01&nbsp;</span>Design</p>
      <img src="../../assets/images/design.jpg">
    </div>
    <div>
      <b>Personalized Software</b>
      <p>At our company, we turn the digital dreams of our clients into a reality. We work closely with our users throughout development to ensure that we are still aligned with the end-goal. We are committed to producing exceptional software for each of our clients.</p>
    </div>
  </div>
  <div class="tile">
    <p class="cycle-title"><span>02&nbsp;</span>Develop</p>
    <div class="img-wrap">
      <img src="../../assets/images/develop.jpg">
    </div>
    <div>
      <b>Skillfully Developed</b>
      <p>
        With expertise on overall data engineering best practices, standards, architectural approaches and complex technologies, we adhere to high-quality development principles while delivering robust solutions, on-time and on-budget.
      </p>
    </div>
  </div>
  <div class="tile">
    <p class="cycle-title"><span>03&nbsp;</span>Test</p>
    <div class="img-wrap">
      <img src="../../assets/images/test.jpg">
    </div>
    <div>
      <b>Rigorously Tested</b>
      <p>Once we have finished the initial development of our client's product, we begin performing meticulous bug checks. These tests are included in the price of the development package. After testing, we deliver the software to our clients.</p>
    </div>
  </div>
  <div class="tile">
    <p class="cycle-title"><span>04&nbsp;</span>Release</p>
    <div class="img-wrap">
      <img src="../../assets/images/release.jpg">
    </div>
    <div>
      <b>Quality Guaranteed</b>
      <p>In world of technology that's fast-paced, our goal is to provide a high-quality product that aligns with your company's needs. No matter the budget, we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our work.</p>
    </div>
  </div>
</div>

<!--<app-life-cycle></app-life-cycle>-->
