<div class="main-img-container">
  <img src="..\assets\images\main.jpg" />
</div>
<div class="get-quote-container">
  <p class="pp-sol">Professional, Personal Solutions</p>
  <p class="byi-life">Bring your ideas to life!</p>
  <button class="get-quote-btn">--- Get Quote ---</button>
</div>
<div class="about-us">
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
</div>
<div class="testamonials">
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
</div>