<div class="life-cycle">
  <div class="tile">
    <!--<div class="img-wrap">
      <img src="../../assets/images/code1.jpg">
    </div>-->
    <div>
      <p class="cycle-title"><span>01&nbsp;</span>Design</p>
      <p>At our company, we turn the digital dreams of our clients into a reality. We work closely with our users throughout development to ensure that we are still aligned with the end-goal. We are committed to producing exceptional software for each of our clients.</p>
    </div>
  </div>
  <div class="tile">
    <!--<div class="img-wrap">
      <img src="../../assets/images/code2.jpg">
    </div>-->
    <div>
      <p class="cycle-title"><span>02&nbsp;</span>Develop</p>
      <p>Once we have finished the initial development of our client's product, we begin performing meticulous bug checks. These tests are included in the price of the development package. After testing, we deliver the software to our clients.</p>
    </div>
  </div>
  <div class="tile">
    <!--<div class="img-wrap">
      <img src="../../assets/images/code3.jpg">
    </div>-->
    <div>
      <p class="cycle-title"><span>03&nbsp;</span>Test</p>
      <p>In world of technology that's fast-paced, our goal is to provide a high-quality product that aligns with your company's needs. No matter the budget, we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our work.</p>
    </div>
  </div>
  <div class="tile">
    <!--<div class="img-wrap">
      <img src="../../assets/images/code3.jpg">
    </div>-->
    <div>
      <p class="cycle-title"><span>04&nbsp;</span>Deploy</p>
      <p>In world of technology that's fast-paced, our goal is to provide a high-quality product that aligns with your company's needs. No matter the budget, we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our work.</p>
    </div>
  </div>
</div>
