/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
  margin: 0;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 90px;
}

.main-img-container {
  margin-top: -380px;
  height: 1100px;
  overflow: hidden;
}

.get-quote-container {
  text-align: center;
  background: #e5e5e5;
  padding: 50px;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important;
}

.text-center {
  text-align: center !important;
}

.footer {
  background-color: rgb(51, 51, 51);
}
