<!--Section: Contact v.2-->
<div class="container">

    <section  class="mb-4 contact-section">
      <h2  class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
      <hr >
      <div  class="col-md-9 mb-md-0 mb-5 contact-form-wrapper">
        <form  novalidate="" class="form-horizontal ng-untouched ng-pristine ng-valid">
          <div  class="row contact-info">
            <div  class="col-md-12">
              <p >PO BOX 94236, Phoenix, AZ 95019 </p>
              <p >contact@mdbootstrap.com</p>
              <p >(619) 218-6328</p>
            </div>
          </div>
          <hr >
          <p  class="text-center w-responsive mx-auto mb-5 questions"> Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you. </p>
          <div  class="row">
            <div  class="col-md-12">
              <div  class="md-form mb-12">
                <h6 >Your name:</h6>
                <input  type="text" name="name" placeholder="Name" class="form-control ng-untouched ng-pristine ng-valid">
              </div>
            </div>
          </div>
          <div  class="row">
            <div  class="col-md-12">
              <div  class="md-form mb-12">
                <h6 >Your Email:</h6>
                <input  type="text" name="email" placeholder="Email" class="form-control ng-untouched ng-pristine ng-valid">
              </div>
            </div>
          </div>
          <div  class="row">
            <div  class="col-md-12">
              <div  class="md-form mb-12">
                <h6 >Subject:</h6>
                <input  type="text" name="subject" placeholder="Subject" class="form-control ng-untouched ng-pristine ng-valid">
              </div>
            </div>
          </div>
          <div  class="row">
            <div  class="col-md-12">
              <div  class="md-form">
                <h6 >Your message</h6>
                <textarea  rows="4" name="message" class="form-control ng-untouched ng-pristine ng-valid"></textarea>
              </div>
            </div>
          </div>
          <div  class="text-center text-md-left">
            <button  type="submit" class="form-control btn-primary">Send</button>
          </div>
        </form>
        <div  class="status"></div>
      </div>
    </section>
</div>
