.contact-form-wrapper {
  max-width: 650px;
  margin: 0 auto;
  text-align: left;
  font-size: larger;
}

.contact-form-wrapper .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-info {
  text-align: center;
}

.questions {
  font-weight: 600;
  font-size: 18px;
}

.success-message {
  text-align: center;
  background: #d3ead3;
  padding: 20px;
}

.failed-message {
  background: #ffacac;
  text-align: center;
  padding: 20px;
}
